.over {
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0px;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 10px;
  font-size: 13px;
  text-decoration: none;
  color: #888;
  background: rgba(255, 255, 255, 0.96);
  overflow: hidden;
  box-sizing: border-box;
  &:hover {
    opacity: 0.9;
  }
}

.shot-container {
  margin: 10px 0;
  display: inline-block;
  overflow: hidden;
  position: relative;
  .description {
    font-size: 12px;
  }
}

.date-container {
  position: absolute;
  bottom: 15px;
}

